In [1]:
myAge = 32
print(myAge)

32

In [2]:
myAge = 33
print(myAge)

33

In [3]:
print(myAge/3)

11.0

In [4]:
myAge = myAge + 1

In [5]:
myAge

34

In [6]:
print(myAge)

34

In [7]:
restaurantBill = 36.17
serviceCharge = 0.125
tipAmount = restaurantBill*serviceCharge
print(tipAmount)

4.52125

In [8]:
type(33)

int

In [9]:
type(33.6)

float

In [10]:
type('Brent')

str

In [11]:
type(myAge)

int

In [12]:
type(restaurantBill)

float

In [13]:
myName = 'Brent'
type(myName)

str

In [14]:
primeNumbers = [3,7,61,29,199]
type(primeNumbers)

list

In [15]:
coolPeople = ['Jay Z', 'Ghandi', 'me']
primeAndPeople = ['Kink Arthur', 17, 11, 'Jennifer Lopez']
type(primeAndPeople)

list

In [16]:
primeNumbers[2]

61

In [18]:
bestPrimeEver = primeNumbers[4]
print(bestPrimeEver)

199

In [20]:
import pandas as pd
data = pd.read_csv('lsd_math_score_data.csv')

In [21]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [22]:
type(data)

pandas.core.frame.DataFrame

In [24]:
onlyMathScores = data['Avg_Math_Test_Score']

In [26]:
print(onlyMathScores)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [27]:
data['Test_Subject'] = 'Jennifer Lopez'

In [28]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

In [29]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

In [31]:
data['High_Score'] = 100

In [33]:
data

   Time_Delay_in_Minutes  LSD_ppm  ...    Test_Subject High_Score
0                      5     1.17  ...  Jennifer Lopez        100
1                     15     2.97  ...  Jennifer Lopez        100
2                     30     3.26  ...  Jennifer Lopez        100
3                     60     4.69  ...  Jennifer Lopez        100
4                    120     5.83  ...  Jennifer Lopez        100
5                    240     6.00  ...  Jennifer Lopez        100
6                    480     6.41  ...  Jennifer Lopez        100

[7 rows x 5 columns]

In [36]:
data['High_Score'] = 100 + data['Avg_Math_Test_Score']
data

   Time_Delay_in_Minutes  LSD_ppm  ...    Test_Subject High_Score
0                      5     1.17  ...  Jennifer Lopez     178.93
1                     15     2.97  ...  Jennifer Lopez     158.20
2                     30     3.26  ...  Jennifer Lopez     167.47
3                     60     4.69  ...  Jennifer Lopez     137.47
4                    120     5.83  ...  Jennifer Lopez     145.65
5                    240     6.00  ...  Jennifer Lopez     132.92
6                    480     6.41  ...  Jennifer Lopez     129.97

[7 rows x 5 columns]

In [37]:
data['High_Score'] = data['High_Score'] ** 2
data

   Time_Delay_in_Minutes  LSD_ppm  ...    Test_Subject  High_Score
0                      5     1.17  ...  Jennifer Lopez  32015.9449
1                     15     2.97  ...  Jennifer Lopez  25027.2400
2                     30     3.26  ...  Jennifer Lopez  28046.2009
3                     60     4.69  ...  Jennifer Lopez  18898.0009
4                    120     5.83  ...  Jennifer Lopez  21213.9225
5                    240     6.00  ...  Jennifer Lopez  17667.7264
6                    480     6.41  ...  Jennifer Lopez  16892.2009

[7 rows x 5 columns]

In [38]:
onlyMathScores

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [39]:
type(onlyMathScores)

pandas.core.series.Series

In [43]:
columnList = ['LSD_ppm', 'Avg_Math_Test_Score']
cleanData = data[columnList]
print(cleanData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [44]:
type(cleanData)

pandas.core.frame.DataFrame

In [45]:
y = data[['Avg_Math_Test_Score']]

In [46]:
type(y)

pandas.core.frame.DataFrame

In [49]:
X = data[['LSD_ppm']]
print(X)
type(X)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

pandas.core.frame.DataFrame

In [50]:
del data['Test_Subject']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [51]:
del data['High_Score']
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97